/* Elements specific to the high_scores page */
.container {
    display: grid;
    grid-template-areas: "playerNames lowScores highScores";
    grid-template-columns: 4fr 1fr 1fr;
    gap: 1px;
    background-color: black;
    padding: 1px;
}

/* Grid div elements */
.container > div {
    box-sizing: border-box;
    background-color: darkgray;
    padding: 10px;
}

h4{
    text-align: left;
}

.highlight-user {
    background-color: #f0f8ff; /* Light blue highlight, change as needed */
    font-weight: bold;
    color: blue;
}
